<a href="https://colab.research.google.com/github/JeffersonEstevo/Ciencia-de-Dados/blob/main/Ci%C3%AAncia_de_Dados_Aula_4_Pacote_Pandas_Parte_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Disciplina: Ciência de Dados (DCA-0131)
Aluno: Jefferson Estevo

Prof. Luiz Affonso Guedes<br><br>

### Departamento de Engenharia de Computação e Automação - DCA

UFRN - 2023

*OBS: Favor fazer cópia do notebook antes de alterá-lo.

## Aula 4 - Pacote Pandas - Parte I

O pacote Pandas é construído sobre os pacotes Numpy e MathPlotLib. Porém, diferentemente dos arrays de NumPy, variáveis manipuladas pelo Pandas podem ser de tipos diversos (não homogêneos). Assim, uma determinada variável pode contém elementos de diversos tipos. DataFrame e Series são exemplos de dados complexo de Pandas. 

- DataFrames são dados "retangulares", usualmente utilizados para representar informação em formato de planilha, por exemplo. Assim, as colunas devem ter as mesmas dimensões e cada coluna contém elementos de um mesmo tipo de dado.

- Series são objetos tipo array uni-dimensional contendo um array de dados (equivalente ao array uni-dimensional NumPy) e um array de labels do array de dados (denominados de index da Serie). Na sua forma mais simples, Series podem conter apenas os arrays de dados. Neste caso, os indexes segue o padrão dos arrays NumPy (índices de zero a n-1).

Pandas implementa uma série de operações sobre dados para usuários familiarizados com banco de dados e planilhas.




### Convensão de notação:
- from pandas import Series, DataFrame
- import pandas as pd

In [ ]:
# Exemplo: Importanto Pandas

from pandas import Series, DataFrame
import pandas as pd

## 1. Objeto do tipo Serie em Pandas

In [ ]:
# Exemplo: criação de um objeto Pandas do tipo Series 
# - sem especificar os seus índices

dado = pd.Series([0.25, 0.5, 0.75, 1.0])
dado

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
type(dado)

pandas.core.series.Series

In [ ]:
# Exemplo: criação de um objeto Pandas do tipo Series 
# - sem especificar os seus índices

obj_Serie = Series([4, 7, -5, 3])
print(obj_Serie)
type(obj_Serie)

0    4
1    7
2   -5
3    3
dtype: int64

pandas.core.series.Series

In [ ]:
# Exemplo: Acessando valores de um objeto do tipo Serie - Pandas
print(obj_Serie.values)
type(obj_Serie.values)

[ 4  7 -5  3]

numpy.ndarray

In [ ]:
# Exemplo: Acessando indexes de um objeto do tipo Serie - Pandas

print(obj_Serie.index)
type(obj_Serie.index)

RangeIndex(start=0, stop=4, step=1)

pandas.core.indexes.range.RangeIndex

### Observação:
Pelo que vimos até agora, pode parecer que o objeto Series é basicamente intercambiável com um array NumPy unidimensional. A diferença essencial é a presença do índice: enquanto o array NumPy possui um índice inteiro implícito definido para acessar os valores, a Serie Pandas possui um índice explicitamente definido associado aos valores.

Esta definição explícita de índice fornece recursos adicionais do objeto Series. Por exemplo, o índice não precisa ser um número inteiro, mas pode consistir em valores de qualquer tipo desejado. Por exemplo, se quisermos, podemos usar Strings como um índice.

In [ ]:
# Exemplo: criação de um objeto pandas do tipo Series - Pandas
# - com especificação dos seus índices

obj_Serie2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj_Serie2

d    4
b    7
a   -5
c    3
dtype: int64

In [ ]:
# Exemplo: Acessando elementos de Series via especificação do índice ou conjunto de índices
print("O acesso a elemento de Series é similar ao de arrays NumPy")
print(obj_Serie2['a'])
print(obj_Serie2[2])
print(obj_Serie2[-2])
print(obj_Serie2[['b', 'd', 'a']])

O acesso a elemento de Series é similar ao de arrays NumPy
-5
-5
-5
b    7
d    4
a   -5
dtype: int64

In [ ]:
# Exemplo: filtros nos índices em Pandas são similares aos Arrays Numpy

obj_Serie2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [ ]:
# Exemplo: filtros nos índices em Pandas são similares aos Arrays Numpy

obj_Serie2[obj_Serie2 > 0]

d    4
b    7
c    3
dtype: int64

In [ ]:
# Exemplo: filtro nos índices de Arrays Numpy

import numpy as np
A = np.array([1, 4, 2, 5, 3])
A[A>2]

array([4, 5, 3])

In [ ]:
# Exemplo: As operações preservam os índices dos objetos Series - Pandas
print(obj_Serie2*3)
print()
print(obj_Serie2**2)

d    12
b    21
a   -15
c     9
dtype: int64

d    16
b    49
a    25
c     9
dtype: int64

### Observação:
Também é  possível passar dados do tipo dictionaries como parâmetros para Series Pandas, como no exemplo abaixo.

In [ ]:
# Exemplo de Series - Pandas usando tipos dictioneries

idadeD = {'Maria': 24, 'Pedro': 22, 'Mariana': 21, 'Joao': 20}
idadeSerie = Series(idadeD)
idadeSerie

Maria      24
Pedro      22
Mariana    21
Joao       20
dtype: int64

In [ ]:
# Exemplo de Series - Pandas usando tipos dictionaries

idadeLista = ['Alice', 'Pedro', 'Mariana', 'Joao']
idadeSerie = Series(idadeD, index=idadeLista)
idadeSerie

Alice       NaN
Pedro      22.0
Mariana    21.0
Joao       20.0
dtype: float64

In [ ]:
print("Por que o valor do índice Alice é NaN?, O que significa isto?")


print("Isso aconte porque o valor do índice Alice não existia no dicionário inicial.")

Por que o valor do índice Alice é NaN?, O que significa isto?
Isso aconte porque o valor do índice Alice não existia no dicionário inicial.

In [ ]:
# Execute este comando e verifique o resultado

idadeSerie.isnull()

Alice       True
Pedro      False
Mariana    False
Joao       False
dtype: bool

In [ ]:
# Execute este comando e verifique o resultado

idadeSerie.notnull()

Alice      False
Pedro       True
Mariana     True
Joao        True
dtype: bool

### Exercício:
Explique o funciomanto dos métodos .isnull() e .notnull(). Para que servem esses métodos?

### Dados não declarados - Missing Data
- indicar a falta de dados de diferentes maneiras.
- NaN (Not a Number).
- None.

Há diversos métodos em Pandas para tratar Missing Data.
- técnicas de eliminação
- técnicas de preenchimento

In [ ]:
# Exemplo: Eliminando missing data

idadeSerie[idadeSerie.notnull()]

Pedro      22.0
Mariana    21.0
Joao       20.0
dtype: float64

In [ ]:
# Exemplo: Eliminando missing data

idadeSerie

Alice       NaN
Pedro      22.0
Mariana    21.0
Joao       20.0
dtype: float64

In [ ]:
# Exemplo: Eliminando missing data
print( "O que faz o método .dropna()?")
print( "Elimina os valores NaN que a série possui.\n")

idadeSerie.dropna()

O que faz o método .dropna()?
Elimina os valores NaN que a série possui.

Pedro      22.0
Mariana    21.0
Joao       20.0
dtype: float64

In [ ]:
# Exemplo: Preenchimento de missing data
print( "O que faz o método .fillna()?")
print( "Preenche os valores faltantes com o argumento passado.")

idadeSerie.fillna(-1)

O que faz o método .fillna()?
Preenche os valores faltantes com o argumento passado.

Alice      -1.0
Pedro      22.0
Mariana    21.0
Joao       20.0
dtype: float64

In [ ]:
# Operações sobre Series - Pandas

turmaLista1 = ['Alice', 'Pedro', 'Mariana', 'Joao']
turmaLista2 = ['Maria', 'Pedro', 'Mariana', 'Joao']

turmaSerie1 = Series([2,1,0.5,1], index=turmaLista1)
turmaSerie2 = Series([2,2,2,2], index=turmaLista2)

turmaSerie1 + turmaSerie2

Alice      NaN
Joao       3.0
Maria      NaN
Mariana    2.5
Pedro      3.0
dtype: float64

In [ ]:
# Exemplo - Rotulando índices e nomes de Series - Pandas

turmaSerie1.name = 'Turma de Ciência de Dados'
turmaSerie1.index.name = 'Alunos'
turmaSerie1

Alunos
Alice      2.0
Pedro      1.0
Mariana    0.5
Joao       1.0
Name: Turma de Ciência de Dados, dtype: float64

### Observação:
Series Pandas podem ser vistas como o equivalente ao tipo básico dictionaries. Porém, assim como operações em arrays NumPy são mais eficientes que em Listas, operar em Series é bem mais eficiente que operarar sobre variáveis do tipo Dictonarie.

In [ ]:
? Series

In [ ]:
# Exemplo: População de alguns estados dos Estados Unidos
# Utilizando-se tipo Dictonarie

pop_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

In [ ]:
# Exemplo: Área de alguns estados dos Estados Unidos
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

In [ ]:
dict.values(pop_dict)

dict_values([38332521, 26448193, 19651127, 19552860, 12882135])

In [ ]:
dict.keys(pop_dict)

dict_keys(['California', 'Texas', 'New York', 'Florida', 'Illinois'])

In [ ]:
#Exercício: Transformando variáveis de Dictonarie para Series Panda
#           - Transforme a variável dicionario 'pop_dict' em uma Serie-Pandas
pop_dict = Series(pop_dict)
#           - Transforme a variável dicionario 'area_dict' em uma Serie-Pandas
area_dict = Series(area_dict)        
#           - Obtenha os estados com mais de 20 milhões de habitantes.
pop_dict[pop_dict.values > 20000000]
#           - Obtenha o número de habitantes da California
pop_dict["California"]
#           - Obtenha o estado com mais habitantes
pop_dict[pop_dict == pop_dict.max()]
#           - Obtenha o estado com menos habitantes
pop_dict[pop_dict == pop_dict.min()]
#           - Obtenha a lista dos estados com área entre 400.000 e 500.000 
area_dict[(area_dict > 400000) & (area_dict < 500000)]
#           - A densidade (número de habitantes por área) desses estados

print("Densidade populacional de 5 cidades dos EUA\n")
pop_dict/area_dict

Densidade populacional de 5 cidades dos EUA

California     90.413926
Texas          38.018740
New York      139.076746
Florida       114.806121
Illinois       85.883763
dtype: float64

In [ ]:
type(pop_dict)

pandas.core.series.Series

### Acesso a índices em objetos Pandas
Há várias formas de se acessar índices nos objetos Pandas:
- indicação de índice específico. --> dado[3]
- indicação de intervalo de índices. --> dado[1:3]. Segue o padrão de Lista.
- métodos .loc(), .iloc() e  .ix()

In [ ]:
# Exemplo de indicação de índice em Pandas

data = pd.Series(['a', 'b', 'c', 'd'], index=[1,3,5,7])
data

1    a
3    b
5    c
7    d
dtype: object

In [ ]:
# Exemplo de indicação específica de índice em Pandas
data[1]
#data[0]

'a'

In [ ]:
# Exemplo de indicação de intervalo de índice em Pandas
data[1:3]
#data[0:2]

3    b
5    c
dtype: object

In [ ]:
# Exemplo de indicação de índice em Pandas usando o método .loc()
print(data.loc[1])
print()
print(data.loc[1:3])

a

1    a
3    b
dtype: object

In [ ]:
# Exemplo de indicação de índice em Pandas usando o método .iloc()
print(data.iloc[1])
print()
print(data.iloc[1:3])

b

3    b
5    c
dtype: object

In [ ]:
# Exemplo de indicação de índice em Pandas usando o método .ix()
# Warning: o método está em desuso a aprtir da versão 0.20.0 do Pandas.

# print(data.ix[1])
# print()
# print(data.ix[1:3])

### Exercício: 
Qual é a diferença dos métodos .loc() e .iloc()? Explique e faça um exemplo demonstrando a direfença.

In [ ]:
# Exercício
print("Eles são usados para fatiar dados no DataFrame pandas")
print("loc() é utilizado para fatiar passando o nome da linha ou coluna")
print("iloc() é utilizado para fatiar passando o índice da linha ou coluna")

Eles são usados para fatiar dados no DataFrame pandas
loc() é utilizado para fatiar passando o nome da linha ou coluna
iloc() é utilizado para fatiar passando o índice da linha ou coluna

## 2. Objeto do tipo DataFrame em Pandas

Se uma Serie-Pandas é um análogo de um array NumPy unidimensional com índices explícitos e flexíveis, então um DataFrame é um análogo de array NumPy bidimensional com índices de linha e de colunas flexíveis.

Assim, DataFrame Pandas equivale a uma Matriz com índices explícitos, porém, diferentemenete dos arrays NumPy, os elementos podem ser de tipos diferentes.

DataFrames podem ser vistos como uma sequência de objetos Series-Pandas alinhados por índices.

In [ ]:
# Exemplo - Transformação de dict em Serie-Pandas
populacao = pd.Series(pop_dict)
populacao

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
# Exemplo - Transformação de dict em Serie-Pandas
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
# Exemplo - Criação de um DataFrame Pandas

estados = pd.DataFrame({'população': populacao,'área': area})
estados

            população    área
California   38332521  423967
Texas        26448193  695662
New York     19651127  141297
Florida      19552860  170312
Illinois     12882135  149995

In [ ]:
type(estados)

pandas.core.frame.DataFrame

In [ ]:
estados.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
estados.columns

Index(['população', 'área'], dtype='object')

### Observação:
Da mesma forma como Series, também podemos pensar em um DataFrame como uma especialização de um dicionário. Onde um dicionário mapeia uma chave para um valor, um DataFrame mapeia um nome de coluna para uma série de dados de coluna. Por exemplo, pedir o atributo 'área' retorna o objeto Series que contém as áreas que vimos anteriormente:

In [ ]:
estados['área']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: área, dtype: int64

### 2.1 Criação de DataFrames Pandas
DataFrame Pandas podem ser criados de diversas formas.
- A partir de objetos Series
- A partir de Listas de Dicionários
- A partir de Dicionários de objetos Series
- A partir de arrays NumPy bidimensionais
- A partir de array NumPy estruturado

In [ ]:
# Exemplo: Criação de DataFrame Pandas a partir de objetos Series
pd.DataFrame(populacao, columns=['população'])

            população
California   38332521
Texas        26448193
New York     19651127
Florida      19552860
Illinois     12882135

In [ ]:
# Exemplo: Criação de DataFrame Pandas a partir de Lista de Dicionário
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)
#data

   a  b
0  0  0
1  1  2
2  2  4

In [ ]:
# Exemplo: Criação de DataFrame Pandas a partir de Lista de Dicionário
# Data Missing (Dados perdidos) - similar ao objeto Serie

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
# Exercício: Troque os índices do DataFrame acima
#            para linha1 e linha2, respecitvamente

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}], index=['linha1', 'linha2'])

          a  b    c
linha1  1.0  2  NaN
linha2  NaN  3  4.0

#### 2.2 Tratando Missing Data em DataFrame
De forma similar a Series, podemos tratar missing data em DataFrame
- técnicas de eliminação
    - df.dropna(parametros)
- técnicas de preenchimento
    - df.fillna(parametros)

In [ ]:
# Exemplo: Eliminando missing data em DataFrames
# Eliminar as linhas com NaN
# Eliminar as colunas com NaN
# Eliminar as linhas e colunas com NaN
import numpy as np
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])
print("df com NaN \n", df)

print("\n df sem NaN - com eliminação de linhas \n", df.dropna())

print("\n df sem NaN - com eliminação de colunas \n", df.dropna(axis='columns'))

df com NaN
      0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

 df sem NaN - com eliminação de linhas
      0    1  2
1  2.0  3.0  5

 df sem NaN - com eliminação de colunas
    2
0  2
1  5
2  6

In [ ]:
# Exemplo: Eliminando missing data em DataFrames
# Eliminar as linhas com NaN
# Eliminar as colunas com NaN
# Eliminar as linhas e colunas com NaN

dataF = DataFrame([[1., 6.5, 3.], [1., None, None], [None, None, None], [None, 6.5, 3.]])
dataF

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:

dataF.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
# Exemplo: Preenchimento de missing data em DataFrames
df = DataFrame(np.random.randn(7, 3))
df

          0         1         2
0 -0.544307 -0.936893 -0.626857
1  2.192005  1.214450 -0.946953
2 -2.258381  0.445418 -0.117010
3 -0.417063 -0.954993  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
df.iloc[:4, 1] = None; df.iloc[:2, 2] = None
df

          0         1         2
0 -0.544307       NaN       NaN
1  2.192005       NaN       NaN
2 -2.258381       NaN -0.117010
3 -0.417063       NaN  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
# Exemplo: Preenchimento de missing data em DataFrames
#          com valor ZERO

df.fillna(0)

          0         1         2
0 -0.544307  0.000000  0.000000
1  2.192005  0.000000  0.000000
2 -2.258381  0.000000 -0.117010
3 -0.417063  0.000000  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
df.iloc[3:4,0:1] = None
df

          0         1         2
0 -0.544307       NaN       NaN
1  2.192005       NaN       NaN
2 -2.258381       NaN -0.117010
3       NaN       NaN  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
# Exemplo: Preenchimento de missing data em DataFrames
df.fillna(method='ffill')

          0         1         2
0 -0.544307       NaN       NaN
1  2.192005       NaN       NaN
2 -2.258381       NaN -0.117010
3 -2.258381       NaN  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
# Exemplo: Preenchimento de missing data em DataFrames
# Chamando .fillna() com um tipo 'dict', 
# pode-se usar um valor diferente de preenchimento para cada coluna

df.fillna({1: 0.5, 2: -1})

          0         1         2
0 -0.544307  0.500000 -1.000000
1  2.192005  0.500000 -1.000000
2 -2.258381  0.500000 -0.117010
3       NaN  0.500000  0.167750
4 -0.754784  1.201672 -1.328016
5 -0.169572 -1.134982 -2.143137
6  1.179560  2.317973  0.641934

In [ ]:
# Exemplo: Criação de DataFrame Pandas 
#          a partir Dicionários de objetos Series

pd.DataFrame({'população1': populacao,'área1': area})

            população1   área1
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
# Exemplo: Criação de DataFrame Pandas 
#          a partir de arrays NumPy bidimensionais

import numpy as np

pd.DataFrame(np.random.rand(3, 2),
             columns=['coluna 1', 'coluna 2'],
             index=['linha 1', 'linha 2', 'linha 3'])

         coluna 1  coluna 2
linha 1  0.504962  0.908219
linha 2  0.789093  0.590840
linha 3  0.952672  0.157895

In [ ]:
# Exemplo: Criação de DataFrame Pandas 
#          a partir de array NumPy estruturado
Resultado = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
Resultado

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [ ]:
pd.DataFrame(Resultado)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Exemplos de Acesso a Elementos de DataFrames
A seguir, são apresentados alguns exemplos de como acessar DataFrames e elementos de DataFrames

In [ ]:
estados

            população    área
California   38332521  423967
Texas        26448193  695662
New York     19651127  141297
Florida      19552860  170312
Illinois     12882135  149995

In [ ]:
estados['área']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: área, dtype: int64

In [ ]:
estados[['área','população']]

              área  população
California  423967   38332521
Texas       695662   26448193
New York    141297   19651127
Florida     170312   19552860
Illinois    149995   12882135

In [ ]:
estados.área

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: área, dtype: int64

### 2.3 - Incluir e modificar colunas no DataFrame Pandas
- Uma das formas de se fazer isto pode ser usando uma sintaxe similar à sintaxe de dicionários com objetos Series Pandas.

In [ ]:
# Exemplo - Inclusão de uma nova coluna no DataFrame Pandas

estados['densidade'] = estados['população'] / estados['área']
estados

            população    área   densidade
California   38332521  423967   90.413926
Texas        26448193  695662   38.018740
New York     19651127  141297  139.076746
Florida      19552860  170312  114.806121
Illinois     12882135  149995   85.883763

### Observação:
Como DataFrames podem ser conciderados como uma especetipo de arrays bidimensionais, então podemos utilizar operações similares de arrays bidimencionais a eles.

In [ ]:
# Exemplo - Como inverter a representação do DataFrame Pandas - Similar a uma matriz transposta
estados.T

,California,Texas,New York,Florida,Illinois
população,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
área,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
densidade,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [ ]:
# Exemplo - Obtendo índices de DataFrames Pandas
estados.values

array([[3.83325210e+07, 4.23967000e+05, 9.04139261e+01],
       [2.64481930e+07, 6.95662000e+05, 3.80187404e+01],
       [1.96511270e+07, 1.41297000e+05, 1.39076746e+02],
       [1.95528600e+07, 1.70312000e+05, 1.14806121e+02],
       [1.28821350e+07, 1.49995000e+05, 8.58837628e+01]])

In [ ]:
# Exemplo - Obtendo índices de DataFrames Pandas
estados.values[0]

array([3.83325210e+07, 4.23967000e+05, 9.04139261e+01])

In [ ]:
# Exemplo - Obtendo índices de DataFrames Pandas
estados.values[0][:]

array([3.83325210e+07, 4.23967000e+05, 9.04139261e+01])

In [ ]:
print("Explique o funcionamento desse comando. ")
print("Seleciona apenas os estados com denisade > 100, do DataFrame estados \n\n")
estados[estados.densidade > 100]

Explique o funcionamento desse comando.
Seleciona apenas os estados com denisade > 100, do DataFrame estados

          população    área   densidade
New York   19651127  141297  139.076746
Florida    19552860  170312  114.806121

In [ ]:
print("Explique o funcionamento desse comando.")
print("Retorna uma Serie  booleana, com valor True para densidade > 100 e com valor False para densiade <= 100  \n\n")
estados.densidade > 100

Explique o funcionamento desse comando.
Retorna uma Serie  booleana, com valor True para densidade > 100 e com valor False para densiade <= 100

California    False
Texas         False
New York       True
Florida        True
Illinois      False
Name: densidade, dtype: bool

In [ ]:
print("Explique o funcionamento desse comando.")
print("Retorna apenas a coluna densidade, onde, no DataFrame estados tiver estados com densidade > 100 \n\n")
estados[estados.densidade > 100].densidade

Explique o funcionamento desse comando.
Retorna apenas a coluna densidade, onde, no DataFrame estados tiver estados com densidade > 100

New York    139.076746
Florida     114.806121
Name: densidade, dtype: float64

In [ ]:
print("Lista das populações e densidades das Cidades com densidade maior de 100. \\n\n")
estados[estados.densidade > 100][['população', 'densidade']]

Lista das populações e densidades das Cidades com densidade maior de 100. \n

          população   densidade
New York   19651127  139.076746
Florida    19552860  114.806121

In [ ]:
# Exercício: Liste o atributo 'densidade'
#           dos estados da Florida e Illinois 
print(estados.loc['Florida'].densidade)
print(estados.loc['Illinois'].densidade)

114.80612053173
85.88376279209307

In [ ]:
# Exemplo de listagem de sub-DataFrame em Pandas
# O método .iloc() pemite acesso por numeração - localicação

estados.iloc[:3, :2]

#estados[:3,:2]

            população    área
California   38332521  423967
Texas        26448193  695662
New York     19651127  141297

In [ ]:
# Exemplo de listagem de sub-DataFrame em Pandas
# O método .loc() permite acesso por labels

estados.loc[:'Illinois', :'população']

            população
California   38332521
Texas        26448193
New York     19651127
Florida      19552860
Illinois     12882135

In [ ]:
# Exemplo de listagem de sub-DataFrame em Pandas
# Uso do estilo NumPy para acessar sub Arrays
# Formato:
# dataFrame.loc[LINHAS, COLUNAS]

estados.loc[estados.densidade > 100, ['população', 'densidade']]

          população   densidade
New York   19651127  139.076746
Florida    19552860  114.806121

In [ ]:
# Exercício: 
# Obenha apenas os Estados com população acima de 20 milhões.
# Exiba as colunas 'população'e 'densidade'


estados.loc[estados['população'] > 20000000, ['população', 'densidade']]

            população  densidade
California   38332521  90.413926
Texas        26448193  38.018740

### Alguns Métodos Úteis:
    - pd.head(x)  --> lista as x primeiras linhas do DataFrame
    - pd.tail(x)  --> lista as x últimas linhas do DataFrame
    - pd.info()   --> resume o conteúdo do DataFrame

In [ ]:
# Exemplo de uso do método pd.head()
estados.head(2)
#estados.head()

            população    área  densidade
California   38332521  423967  90.413926
Texas        26448193  695662  38.018740

In [ ]:
# Exemplo de uso do método pd.tail()
estados.tail(2)
#estados.tail()

          população    área   densidade
Florida    19552860  170312  114.806121
Illinois   12882135  149995   85.883763

In [ ]:
# Exemplo de uso do método pd.info()
estados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Illinois
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   população  5 non-null      int64
 1   área       5 non-null      int64
 2   densidade  5 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 332.0+ bytes

### Pergunta:
Como se pode alterar os valores de elementos de DataFrames?

In [ ]:
# Verifique uma forma de alterar valores de elementos do DataFrame estados
estados.loc['Texas', 'população'] = 40000000
estados

            população    área   densidade
California   38332521  423967   90.413926
Texas        40000000  695662   38.018740
New York     19651127  141297  139.076746
Florida      19552860  170312  114.806121
Illinois     12882135  149995   85.883763

### Observação:
Pandas foi desenvolvido sobre o NumPy e manteve a compatibilidade das operações NumPy.
- dados Pandas (Series, DataFrame) aceitam as operações NumPy

In [ ]:
# Exemplo de operação NumPy sobre dados Pandas
# Definindo o objeto ser - Tipo Series Pandas
import pandas as pd
import numpy as np

rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int64

In [ ]:
# Exemplo de operação NumPy sobre dados Pandas
# Operação exponencial sobre um objeto Series Pandas

np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [ ]:
# Exemplo de operação NumPy sobre dados Pandas
# Definindo o objeto df - Tipo DataFrame Pandas

df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [ ]:
# Exemplo de operação NumPy sobre dados Pandas
# Operação seno sobre um objeto DataFrame Pandas

np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

### 2.4 - Alinhamento de índices em Pandas:

Para operações binárias em dois objetos Series ou DataFrame, Pandas alinhará índices no processo de execução da operação. Isso é muito conveniente quando você está trabalhando com dados incompletos, como veremos em alguns dos exemplos que se seguem.

In [ ]:
# Exemplo: Alinhamento automático de índices em Pandas
# Criação das Series Pandas - area e population

area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
'California': 423967}, name='área')

population = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127}, name='população')


# Pandas irá completar com NaN os dados incompletos (data missing)
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

### Observação:
O Array resultante é a união união de índices dos dois arrays de entrada.
- Equivale a fazer a união explícita no padrão Python:
    - area.index | population.index
- Os índices resultantes da união que não tiverem entradas são marcados com NaN (data missing).

In [ ]:
area.index | population.index

<ipython-input-126-ff558a211efb>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [ ]:
# Exemplo de alinhamento automático em Pandas

A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

In [ ]:
# Exemplo: Similar ao exemplo anterior, 
#          mas preenchendo os data missing com valor ZERO
# Uso do estilo de operadores-métodos no NumPY

A.add(B, fill_value=0)

### 2.5. Gráficos com Pandas
Como Pandas foi construído sobre o MatPlotLib, podemo sutilizar os métodos desse pacote sobre os tipos Serie e Dataframe.

In [ ]:
# Exemplo de uso de métodos de traçado de gráficos em Pandas
print("Impressão do DataFrame estados\n\n")
estados

In [ ]:
print("Traçado dos gráficos das variáveis, Series, do DataFrame estados\n\n")
estados.plot()

### 2.6 - Métodos de operadores binários em Pandas: 
- add() --> Adição
- sub(), subtract() --> Subtração
- mul(), multiply() --> Multiplicação
- truediv(), div(), divide() --> Divição
- floordiv()  --> (parte inteira da divisão)
- mod()     ---> (resto da divisão)
- pow()   --> potência

### Exercício: Escreva o seguinte programa
    - df1 - Dataframe com 3 linhas e 2 colunas (col1, col2). Inicie o DataFrame de forma ra
    - df2 - Dataframe com 2 linhas e 3 colunas (col1, col2, col3)
    - df3 = df1 + df2
    - df4 = df1 / df2
    - o quadrado de df1
    - Inicie os DataFrames df1 e df2 de forma randômica.

In [ ]:
# Exercício:

### Observação: 
Não podemos esquecer que operações sobre Series e DataFrames Pandas opera por linhas, como nos arrays NumPy.

In [ ]:
# Criação de um Array NumPy

A = rng.randint(10, size=(3, 4))
A

In [ ]:
# Operação por linha entre arrays NumPy
A - A[0]

In [ ]:
# Criação de uma DataFrame Pandas

df = pd.DataFrame(A, columns=list('QRST'))
df

In [ ]:
# Operação por linha com DataFrame Pandas

df - df.iloc[0]

In [ ]:
# Operação de subtração por coluna sobre DataFrame Pandas

df.subtract(df['R'], axis=0)

In [ ]:
# Exercício
# Explique o que a linha de código abaixo executa.

halfrow = df.iloc[0, ::2]
halfrow
#df - halfrow

### 2.7 - Concatenação de Series e DataFrames Pandas

In [ ]:
# Concatenação de Series Pandas

ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

In [ ]:
# Função para preencher um DataFrame Pandas

def make_df(cols, ind):
  data = {c: [str(c) + str(i) for i in ind]
  for c in cols}
  return pd.DataFrame(data, ind)

# exemplo de uso da função DataFrame
make_df('ABC', range(3))

In [ ]:
# Concatenação de DataFrames Pandas

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1);
print()
print(df2)
print()
print(pd.concat([df1, df2]))

In [ ]:
# Anexação de DataFrame Pandas

print(df1.append(df2))

### 2.8 - Objeto Index em Pandas

> Bloco com recuo


É uma classe em Pandas que possui métodos próprios para operar sobre os índices de objetos Pandas, como Series e DataFrames.
Index pode ser:
- Array imutável
- Conjunto ordenado

In [ ]:
# Criação de um objeto Index como Array Imutável
# No caos, uma lista de inteiros

ind = pd.Index([2, 3, 5, 7, 11])
print(ind)
print(ind[1])
print(ind[::2])
print("\nObjeto Index possui métodos similares aos dos arrays NumPy")
print(ind.size, ind.shape, ind.ndim, ind.dtype)

In [ ]:
# Index não podem ser modificados - Eles são imutáveis
nd[1] = 0

In [ ]:
# Criação de um objeto Index conjunto ordenado

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

print("interseção --> ", indA & indB)

print("união -->  ", indA | indB)

print("diferença simétrica --> ",  indA ^ indB)

### 3. Carregar, armazenar e formatar DataFrames

### 3.1. Métodos para carregar/ler/importar dados tipo DataFrame Pandas

Pandas possui vários métodos para ler dados tabulados.
- pd.read_csv('arquivo.csv', parametros). Carrega dado com formato .csv delimitado a partir de um arquivo, URL ou objeto tipo arquivo. Usa vígula como delimitador padrão.


- pd.read_table(árquivo.txt', parametros) -  Carrega dado delimitado a partir de arquivo, URL, ou objeto tipo arquivo. Usa tab ('\t') como delimitador padrão.

In [41]:
# Precisa fazer o download do arquivo ScoobyDoo.csv para a área do colab antes carregá-lo no ambiente
teste1 = pd.read_csv('/ScoobyDoo.csv')

In [17]:
teste1

       nome  idade
0    Scooby     10
1  Salsicha     18
2      Fred     20
3     Velma     21
4    Daphne     19

In [20]:
#teste2 = pd.read_csv('ScoobyDoo.csv', header=None, on_bad_lines='skip')
teste2 = pd.read_csv('ScoobyDoo.csv', header=None)

In [11]:
teste2

              0
0  nome,"idade"

In [21]:
# Exemplo: Obtendo informação do DataFrame
teste1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    5 non-null      object
 1   idade   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [23]:
teste3 = pd.read_csv('ScoobyDoo.csv', names=['Coluna 1', 'Coluna 2'])
teste3

   Coluna 1 Coluna 2
0      nome    idade
1    Scooby       10
2  Salsicha       18
3      Fred       20
4     Velma       21
5    Daphne       19

In [24]:
teste3.describe()

       Coluna 1 Coluna 2
count         6        6
unique        6        6
top        nome    idade
freq          1        1

Exemplos de algumas possibilidades de cálculo com DataFrame

In [25]:
teste1['idade'].sum()

88

In [26]:
teste1['idade']>19

0    False
1    False
2     True
3     True
4    False
Name: idade, dtype: bool

In [42]:
# Exercício: Inclua uma coluna 'Sexo'no DataFrame teste1
# Atribua o sexo adequadamente para os personagens 
# ('M'- masculino, 'F' - Feminino')
# Calcule a média de idade dos personagens femininos

# Declare uma lista que deve ser convertida em uma coluna
sexo = ['M', 'M', 'M', 'F', 'F']

# Usando 'Address' como o nome da coluna
# e igualando-o à lista
teste1['sexo'] = sexo

#teste1
teste1['idade'].sum()
teste1[teste1['sexo'] == 'F'].mean()

<ipython-input-42-937c15a63bf5>:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  teste1[teste1['sexo'] == 'F'].mean()

idade    20.0
dtype: float64

In [43]:
# Exercício: Inclua uma coluna 'Peso' no DataFrame teste1
# Scooby - 40 kg
# Salsicha - 55 kg
# Fred  - 70 Kg
# 
# Velma = None
# Daphne = 50 Kg

peso = [40, 55, 70, np.nan, 50]
teste1['peso'] = peso

teste1

       nome  idade sexo  peso
0    Scooby     10    M  40.0
1  Salsicha     18    M  55.0
2      Fred     20    M  70.0
3     Velma     21    F   NaN
4    Daphne     19    F  50.0

In [44]:
# Exercício: Inclua uma coluna 'Altura' no DataFrame teste1
# Scooby - 1.5m
# Salsicha - 1.75m
# Fred  - 1.80m
# 
# Velma = 1.60m
# Daphne = 1.65m

altura = [1.5, 1.75, 1.8, 1.6, 1.65]
teste1['altura'] = altura

teste1

       nome  idade sexo  peso  altura
0    Scooby     10    M  40.0    1.50
1  Salsicha     18    M  55.0    1.75
2      Fred     20    M  70.0    1.80
3     Velma     21    F   NaN    1.60
4    Daphne     19    F  50.0    1.65

In [51]:
# Exercício: Inclua uma coluna 'IMC' no DataFrame teste1
# Preencha essa coluna com o valor de Índice de Massa Corporea dos personagens
# Obtenha o personagem que tem a menor IMC

peso = teste1['peso']
altura = (teste1['altura'])*(teste1['altura'])

imc = peso/altura
#imc

teste1['imc'] = imc

teste1

       nome  idade sexo  peso  altura        imc
0    Scooby     10    M  40.0    1.50  17.777778
1  Salsicha     18    M  55.0    1.75  17.959184
2      Fred     20    M  70.0    1.80  21.604938
3     Velma     21    F   NaN    1.60        NaN
4    Daphne     19    F  50.0    1.65  18.365473

### 3.2. Lendo arquivos via URL

In [52]:
# arquivo do GitHub - Livro Handbook of data Science
Estados_USA = pd.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/state-population.csv')

In [53]:
Estados_USA

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

### 3.3. Salvando DataFrames como arquivos .csv, .xlx, etc

In [54]:
teste1.to_csv('teste4.csv')

In [56]:
#dataF.to_excel('nome_do_arquivo.xlsx', index=False)

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [58]:
# import pandas as pd
# df = (pd.read_csv("births.csv"))
# serie = pd.Series(df)
# serie